/*A basic style system utilizing flexbox to make so that it doesnt look to bad*/

#Top{
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 234, 234);
    height: 10%;
}
#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toplink{
    display: flex;
    width: 25%;
}

.border{
    border: 10%;
    border-style: solid;
    border-width: thin;
}

.date{
    margin-bottom: 5vh;

}

.arrowSize{ 
    height: 10vh;
}
.lore{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

.faction-description{
    margin: 5vh;
}

#scrollfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    border-style: solid;
    border: 1%;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}
.blogpost{
    margin: 10vh;
}

.charMargin{
    margin: 5vh;
}

#active{
    color: rgb(69, 19, 123);
}
.imageCharacter{
    width: 20vw;
    
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vh5Margin{
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;}

p{
    font-size: 2em;
}
/*Makes it so that the site doesnt look awful when the screen is smaller than 600px*/
@media screen and (max-width: 600px ) {
    #main{ 
        flex-direction: column;
    }
    .imageCharacter{
        width: 95vw;
    }
    .blogpost{
        margin: 4vh;
    }
    p{
        font-size: 1.5em;
    }
    .lore{
        flex-direction: column;
    }
    #placeholder{
        flex-direction: column;
    }

}