#Top{
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 234, 234);
    height: 10%;
}
#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.toplink{
    display: flex;
    width: 20%;
}

.border{
    border: 10%;
    border-style: solid;
    border-width: thin;
}

.date{
    margin-bottom: 5vh;

}

.smalltoplink{
    display: flex;
    width: 10%;
} 

.arrowSize{ 
    height: 10vh;
}
#Gloomspite_Gitz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Deathguard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faction-description{
    margin: 5vh;
}

#scrollfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    border-style: solid;
    border: 1%;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}
.blogpost{
    margin: 10vh;
}


#active{
    color: rgb(69, 19, 123);
}
.imageCharacter{
    width: 20vw;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vh5Margin{
    margin: 5vw;
}

.FactionA{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body{
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;}

p{
    font-size: 2em;
}
#myDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    
  }
  
  #myDropdown option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  